<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linmo.oj.mapper.PostCommentMapper">

    <resultMap id="BaseResultMap" type="com.linmo.oj.model.postcomment.PostComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="post_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <select id="queryByPostId" resultType="com.linmo.oj.model.postcomment.vo.PostCommentVo">
        SELECT
            pc.id,
            pc.content AS content,
            u.id AS userId,
            u.user_account AS userAccount,
            u.user_avatar	AS userAvatar
        FROM
            post p
                LEFT JOIN post_comment pc ON pc.post_id = p.id
                LEFT JOIN user u ON u.id = pc.user_id
        WHERE
            p.id = #{postId}
        GROUP BY
            pc.id
    </select>
</mapper>
